#wrapper{
    display: flex;
    text-align: center;

    margin-left: 22vw;
    margin-top: 8vh;
}

@media(max-width: 600px){
    #wrapper{
        display: flex;
        text-align: center;
        margin-left: 10vw;
        margin-top: 8vh;
    }
}