.phone-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3px;
  }

.highlighter{
  background-color: #4084dd;
  height: 10vh;
}

  .phone-container .phone-card {
    border: 1px solid grey;
    color: #000;
    border-radius: 3rem;
    margin-right: 10px;
    width: 20vw;
  }
  .phone-container .phone-card #liner {
    color: #fff;
    border-radius: 3px;
    margin-top: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: grey;
    height: 10px;
    width: 100%;
  }
  .phone-container .phone-card #phone-plan-button {
    border: 1px solid grey;
    background: #fff;
    margin-top: 100%;
    border-radius: 3px;
    margin-bottom: 50px;
    width: 80%;
    cursor: pointer;
    padding: 10px;
  }
  .phone-container .phone-card-2 {
    border: 1px solid grey;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: #000;
    margin-bottom: 10px;
    width: 300px;
  }
  .phone-container .phone-card-2 #phone-plan-button {
    border: 1px solid green;
    background: green;
    color: #fff;
    margin-top: 100%;
    border-radius: 3px;
    margin-bottom: 50px;
    width: 80%;
    cursor: pointer;
    padding: 10px;
  }
  .phone-container .phone-card-2 #liner {
    color: #fff;
    border-radius: 3px;
    margin-top: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: green;
    height: 10px;
    width: 100%;
    margin-top: 0;
  }
  .phone-container .phone-card-3 {
    border: 1px solid grey;
    color: #000;
    border-radius: 3rem;
    margin-right: 10px;
    width: 20vw;
  }
  .phone-container .phone-card-3 #phone-plan-button {
    border: 1px solid black;
    background: black;
    color: #fff;
    margin-top: 100%;
    border-radius: 3px;
    margin-bottom: 50px;
    width: 80%;
    cursor: pointer;
    padding: 10px;
  }
  .phone-container .phone-card-3 #liner {
    color: #fff;
    border-radius: 3px;
    margin-top: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: black;
    height: 10px;
    width: 100%;
    margin-top: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    margin: 30px;
    color: #000;
    height: 500px;
    width: 280%;
  }
  .container .card {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
    color: #000;
    border-radius: 3rem;
    margin-right: 10px;
    width: 20vw;
  }

.container .card .card___content{
  padding-top: 4vh;
}

.container .card .card___content p{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1vw;
  color: #303030;
}

.container .card #pricing button{
    white-space: normal;
    background-color: #4084dd;
    border: 1px solid #fff;
    cursor: pointer;
    width: 15vw;
    padding: 10px;
    border-radius: 0.5rem;
    color: #fff;
    margin-top: 15vh;
}

#tick{
  color: #4084dd;
}

.container .card #free-pricing button{
  white-space: normal;
  background-color: #4084dd;
  border: 1px solid #fff;
  cursor: pointer;
  width: 15vw;
  padding: 10px;
  border-radius: 0.5rem;
  color: #fff;
  margin-top: 22vh;
}

.container .card #free-pricing button p{
  font-size: 1vw;
  font-weight: 300;
}

.container .card #pricing button p{
    font-size: 1vw;
    font-weight: 300;
}

#title{
  padding-top: 5vh;
}